html {
    scroll-behavior: smooth;
}

:root {
    --azul: #180F4A;
    --rosa: #FF2978;
    --cinza: #878787;
}

* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

/* COMEÇA HEADER */

.title {
    font-family: "Lobster", sans-serif;
    color: var(--azul);
}

.header {
    background-color: #fff;
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}

.btn {
    background-color: var(--azul);
    color: #fff;
    font-size: 1.2rem;
    padding: 0.7rem 1.4rem;
    border-radius: 0.5rem;
    display: inline-block;

    &:hover {
        background-color: var(--rosa);
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link-menu {
    color: var(--azul);
    font-size: 1.2rem;
}

.link-menu:hover {
    color: var(--rosa);
    border-top: solid 0.1rem var(--azul);
    padding-top: 0.5rem;
}

/* FIM HEADER */

/* COMEÇO HOME */
.home {
    padding: 6rem 2rem;
    text-align: right;
}

.content-home {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content-home img {
    height: 35rem;
}


.box-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 32rem;
    gap: 1rem;
}

.box-home h3 {
    letter-spacing: 1rem;
    font-weight: 900;
}

.box-home p {
    color: var(--cinza);
}

.box-home h2 {
    font-size: 4.5rem;
    font-weight: 900;
}

.box-home>* {
    color: var(--azul);
}

.btn-home {
    background-color: var(--rosa);
    padding: 1.2rem 1.4rem;
    display: inline-block;
    border-radius: 0.3rem;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;

    &:hover {
        background-color: var(--azul);
    }
}

/* FIM HOME */

/* INICIO SOBRE NÓS */

.box-about {
    display: flex;
    align-items: center;
    box-shadow: 2px 10px 66px -8px rgba(24, 15, 74, 0.75);
    -webkit-box-shadow: 2px 10px 66px -8px rgba(24, 15, 74, 0.75);
    -moz-box-shadow: 2px 10px 66px -8px rgba(24, 15, 74, 0.75);
}

.about-size {
    padding: 2rem 8rem;
}

.text-about {
    color: var(--azul);
    padding: 0 2.5rem;
}

.text-about p {
    text-align: left;
    font-weight: 300;
}

.text-about h2 {
    font-size: 2.5rem;
}







/* FIM SOBRE NÓS */

/* COMEÇO SERVIÇO */

.servicos {
    padding: 4rem 4rem;
}

.title-service {
    font-size: 2.6rem;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
    padding-top: 4rem;
    place-items: center;
}

.card {
    text-align: center;
    border: var(--rosa) solid 1px;
    padding: 2rem 1rem;
    border-radius: 1rem;
    max-width: 21rem;
    cursor: pointer;
}

.card .texto-oculto {
    display: none;
}

.card:hover .texto-oculto {
    display: inline-block;
}

.card:hover .texto-oculto>* {
    padding: 1rem 1rem;
}

.card:hover .principal {
    display: none;
}

.card:hover {
    background-color: var(--rosa);
}

.card:hover>* {
    color: white;
}

.card h2 {
    font-size: 1.2rem;
}

.card p {
    font-size: 0.9rem;
}

.card>* {
    padding: 0.5rem 0;
}


/* FIM SERVIÇO */

/* COMECA RODAPE */
.footer {
    background: linear-gradient(#150D43, #020107);
    padding: 4rem 4rem;
    color: #fff;
    border-top: solid var(--rosa) 0.3rem;
}

.footer .title {
    color: #fff;
    font-size: 1.9rem;
}

.footer .box-footer h2,
p {
    text-align: center;
    padding: 1rem 0;
}

.footer .speak {
    position: fixed;
    /* aqui a posição que eu coloquei foi a fixa, */
    bottom: 1rem;
    right: 1rem;
    /* aqui eu coloquei a posição dele em relação a borda do elemento/div, então eu quis 1rem distante
    do bottom e do right. o bottom, top, right e left são propriedades de deslocamento, e só funcionam 
    se tiver o position fixed e etc; não funcionam se tiver no position padrão do css. */
    height: 10rem;
    padding: 0 1rem 1rem 0;
}

.bold {
    font-weight: bolder;
}

/* FIM RODAPE */